{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calculator</title>
  <link rel="stylesheet" href="{% static 'calcapp/css/css.css' %}">
  <link rel="stylesheet" href="{% static 'calcapp/bootstrap.css' %}">
</head>
<body>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'index' %}">Index</a></li>

  {% if request.user.is_authenticated %}
  <li role="presentation"><a href ="{% url "pastcalculations" %}">Past Calculations</a></li>
  <li role="resentation"><a href ="{% url "logout" %}">Logout</a></li>
  {% else  %}
  <li role="presentation"><a href ="{% url "login" %}">Login</a></li>
  <li role="presentation"><a href ="{% url "createuser" %}">Create User</a></li>
  {% endif %}
    </ul>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
